<a href="https://colab.research.google.com/github/ravibalebilalu/ravibalebilalu/blob/main/ElectricVehicles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [283]:
import pandas as pd

In [284]:
df=pd.read_csv("/content/evdataset.csv")
df.head()

,id,Make,link,City - Cold Weather,Highway - Cold Weather,Combined - Cold Weather,City - Mild Weather,Highway - Mild Weather,Combined - Mild Weather,Acceleration 0 - 100 km/h,...,Charge Speed,Fastcharge Speed,Length,Width,Height,Wheelbase,Gross Vehicle Weight (GVWR),Max. Payload,Cargo Volume,Seats
0,1647,Genesis,https://ev-database.org/car/1647/Genesis-GV60-...,390,275,330,575,355,445,7.8,...,49,1020,4515,1890,1580,2900,2495,595,432,5
1,1493,Mercedes,https://ev-database.org/car/1493/Mercedes-EQB-...,330,235,280,480,300,375,6.2,...,46,470,4684,1834,1701,2829,2580,480,495,7
2,1229,Porsche,https://ev-database.org/car/1229/Porsche-Tayca...,400,305,350,580,385,470,3.2,...,46,1020,4963,1966,1381,2900,2880,575,366,4
3,1252,BMW,https://ev-database.org/car/1252/BMW-i4-eDrive40,445,340,390,670,440,540,5.7,...,54,730,4783,1852,1448,2856,2605,555,470,5
4,1534,Volkswagen,https://ev-database.org/car/1534/Volkswagen-ID...,440,320,380,660,415,520,7.9,...,55,570,4261,1809,1568,2771,2300,447,385,5

In [285]:
df.dtypes

id                               int64
Make                            object
link                            object
City - Cold Weather              int64
Highway - Cold Weather           int64
Combined - Cold Weather          int64
City - Mild Weather              int64
Highway - Mild Weather           int64
Combined - Mild Weather          int64
Acceleration 0 - 100 km/h      float64
Top Speed                        int64
Electric Range                   int64
Total Power                      int64
Total Torque                     int64
Drive                           object
Battery Capacity               float64
Charge Power                   float64
Charge Speed                     int64
Fastcharge Speed                 int64
Length                           int64
Width                            int64
Height                           int64
Wheelbase                        int64
Gross Vehicle Weight (GVWR)      int64
Max. Payload                     int64
Cargo Volume                     int64
Seats                            int64
dtype: object

In [286]:
df=df.drop(['link','id'],axis='columns')
df.head()

,Make,City - Cold Weather,Highway - Cold Weather,Combined - Cold Weather,City - Mild Weather,Highway - Mild Weather,Combined - Mild Weather,Acceleration 0 - 100 km/h,Top Speed,Electric Range,...,Charge Speed,Fastcharge Speed,Length,Width,Height,Wheelbase,Gross Vehicle Weight (GVWR),Max. Payload,Cargo Volume,Seats
0,Genesis,390,275,330,575,355,445,7.8,185,390,...,49,1020,4515,1890,1580,2900,2495,595,432,5
1,Mercedes,330,235,280,480,300,375,6.2,160,330,...,46,470,4684,1834,1701,2829,2580,480,495,7
2,Porsche,400,305,350,580,385,470,3.2,260,415,...,46,1020,4963,1966,1381,2900,2880,575,366,4
3,BMW,445,340,390,670,440,540,5.7,190,470,...,54,730,4783,1852,1448,2856,2605,555,470,5
4,Volkswagen,440,320,380,660,415,520,7.9,160,450,...,55,570,4261,1809,1568,2771,2300,447,385,5

In [287]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df.Make=le.fit_transform(df.Make)
df.Drive=le.fit_transform(df.Drive)
df[['Drive','Make']]

     Drive  Make
0        2     8
1        0    18
2        0    24
3        2     1
4        2    32
..     ...   ...
189      0    24
190      2    32
191      1     3
192      0     0
193      1    22

[194 rows x 2 columns]

In [288]:
df.head()

,Make,City - Cold Weather,Highway - Cold Weather,Combined - Cold Weather,City - Mild Weather,Highway - Mild Weather,Combined - Mild Weather,Acceleration 0 - 100 km/h,Top Speed,Electric Range,...,Charge Speed,Fastcharge Speed,Length,Width,Height,Wheelbase,Gross Vehicle Weight (GVWR),Max. Payload,Cargo Volume,Seats
0,8,390,275,330,575,355,445,7.8,185,390,...,49,1020,4515,1890,1580,2900,2495,595,432,5
1,18,330,235,280,480,300,375,6.2,160,330,...,46,470,4684,1834,1701,2829,2580,480,495,7
2,24,400,305,350,580,385,470,3.2,260,415,...,46,1020,4963,1966,1381,2900,2880,575,366,4
3,1,445,340,390,670,440,540,5.7,190,470,...,54,730,4783,1852,1448,2856,2605,555,470,5
4,32,440,320,380,660,415,520,7.9,160,450,...,55,570,4261,1809,1568,2771,2300,447,385,5

In [289]:
df.columns

Index(['Make', 'City - Cold Weather', 'Highway - Cold Weather',
       'Combined - Cold Weather', 'City - Mild Weather',
       'Highway - Mild Weather', 'Combined - Mild Weather',
       'Acceleration 0 - 100 km/h', 'Top Speed', 'Electric Range',
       'Total Power', 'Total Torque', 'Drive', 'Battery Capacity',
       'Charge Power', 'Charge Speed', 'Fastcharge Speed', 'Length', 'Width',
       'Height', 'Wheelbase', 'Gross Vehicle Weight (GVWR)', 'Max. Payload',
       'Cargo Volume', 'Seats'],
      dtype='object')

In [290]:
df['Electric Range']

0      390
1      330
2      415
3      470
4      450
      ...
189    400
190    450
191    195
192    400
193    265
Name: Electric Range, Length: 194, dtype: int64

In [291]:
df.corr()['Electric Range'].sort_values(ascending=False)

Electric Range                 1.000000
Combined - Mild Weather        0.999340
Combined - Cold Weather        0.999298
Highway - Cold Weather         0.999215
Highway - Mild Weather         0.998401
City - Mild Weather            0.998262
City - Cold Weather            0.995611
Battery Capacity               0.863062
Top Speed                      0.706707
Fastcharge Speed               0.701595
Total Power                    0.637401
Total Torque                   0.614073
Charge Speed                   0.415019
Charge Power                   0.398395
Width                          0.277975
Gross Vehicle Weight (GVWR)    0.269258
Length                         0.219826
Make                           0.111569
Wheelbase                      0.061227
Cargo Volume                  -0.145220
Drive                         -0.187194
Max. Payload                  -0.373626
Seats                         -0.500843
Height                        -0.540106
Acceleration 0 - 100 km/h     -0.708172
Name: Electric Range, dtype: float64

In [292]:
df.columns

Index(['Make', 'City - Cold Weather', 'Highway - Cold Weather',
       'Combined - Cold Weather', 'City - Mild Weather',
       'Highway - Mild Weather', 'Combined - Mild Weather',
       'Acceleration 0 - 100 km/h', 'Top Speed', 'Electric Range',
       'Total Power', 'Total Torque', 'Drive', 'Battery Capacity',
       'Charge Power', 'Charge Speed', 'Fastcharge Speed', 'Length', 'Width',
       'Height', 'Wheelbase', 'Gross Vehicle Weight (GVWR)', 'Max. Payload',
       'Cargo Volume', 'Seats'],
      dtype='object')

In [293]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=df[["Battery Capacity","Top Speed","Fastcharge Speed","Total Power","Total Torque","Charge Speed","Width","Height","Acceleration 0 - 100 km/h","Seats","Max. Payload","Gross Vehicle Weight (GVWR)"]]

In [294]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [302]:

from sklearn.ensemble import RandomForestRegressor
lr=RandomForestRegressor(min_samples_split=8)
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
print(lr.score(x_train,y_train),lr.score(x_test,y_test))

0.9863976986949394 0.812675436543508

In [296]:


lr.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}