<a href="https://colab.research.google.com/github/ravibalebilalu/ravibalebilalu/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Here tasks are:
1.	Import the pandas library and read the following data into a DataFrame:
ID,Name,Score
1,Alice,85
2,Bob,70
3,Charlie,90
4,Dave,60
5,Eve,75
2.	Add a new row to the DataFrame with the following values: 6,Frank,95.
3.	Select all rows where Score is greater than 75.
4.	Find the maximum Score and the corresponding Name.
5.	Group the DataFrame by Name and find the mean Score for each name.
6.	Sort the DataFrame by Score in descending order.
7.	Calculate the standard deviation of the Score column.

In [ ]:
#data to dataframe 
a = ["ID","Name","Score"]
b = [1,"Alice",85]
c = [2,"Bob",70]
d = [3,"Charlie",90]
e = [4,"Dave",60]
f = [5,"Eve",75]
import pandas as pd
df = pd.DataFrame(data = (b,c,d,e,f),columns = a)
df

In [ ]:
#adding new data to dataframe
new = [6,"Frank",95]
df.loc[len(df.index)] = new
df

In [ ]:
#3.	Select all rows where Score is greater than 75.
df[df.Score > 75]

In [ ]:
#4.	Find the maximum Score and the corresponding Name.
df.groupby("Name")["Score"].max().sort_values(ascending = False).head(1)

In [ ]:
#Group the DataFrame by Name and find the mean Score for each name.
df.groupby("Name")["Score"].mean()

In [ ]:
#6.	Sort the DataFrame by Score in descending order.
df.sort_values(by = "Score",ascending = False)

In [ ]:
#	Calculate the standard deviation of the Score column.
df.Score.std()